<!-- <nav class="navbar navbar-expand-md navbar-dark mb-4" style="background:#ff0066">
    <div class="container">
      <a routerLink= "/" class="navbar-brand">ExpenseTracker </a>
      <button class="navbar-toggler" type= "button" data-toggle= "collapse" data-target = "#navbarMain">
        <span class="navbar-toggler-icon">
  
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink= "/" class="nav-link">Analytics</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink= "/register" class="nav-link">All Expenses </a>
          </li>
        </ul>
      </div>
    </div>
  
  </nav>
    -->
    <h2>Navbar works</h2>