<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background:#343434;color: white">
    <div class="container">
      <a routerLink= "/" class="navbar-brand">ExpenseTracker </a>
      <button class="navbar-toggler" type= "button" data-toggle= "collapse" data-target = "#navbarMain">
        <span class="navbar-toggler-icon">
  
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink= "/all-expenses" class="nav-link">All Expenses </a>
          </li>
          <li class="nav-item">
              <a routerLink= "/analytics" class="nav-link">Analytics</a>
            </li>
        </ul>
      </div>
    </div>
  
  </nav>
   
