<h2><span><i class="fa fa-list-alt" style="color: #00cc66"></i></span> &nbsp;&nbsp;&nbsp;All Expense</h2>
<!-- <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
         Expense Category
         <span style="color: #2eb82e">
            {{expense.amount | currency:'INR':true}}
         </span>
    </li>
</ul>


<ul *ngFor= "let expense of expenseList " class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
         {{expense.category}}
         <span style="color: #2eb82e">
            {{expense.amount | currency:'INR':true}}
         </span>
    </li>
</ul> -->
<div class="row" style="margin:auto;background: #383838; color: white;padding: 10px 8px; margin-top: 30px;width: 98%; ">
    <div class="col-md-6">
       Category
    </div>
    <div class="col-md-3">
        Amount
    </div>
    <div class="col-md-3">
        Date
    </div>
</div>
<div class="row alternate-color">
    <div class="col-md-6">
        {{expense.category}}
     </div>
     <div class="col-md-3">
         {{expense.amount}}
     </div>
     <div class="col-md-3">
         {{expense.date}}
     </div>
</div>